{% extends "templates/web.html" %}

{% block script %}
<script>
$(document).ready(function() {
    $("#login_btn").click(function() {
        var me = this;
        $(this).html(__("Logging In...")).prop("disabled", true);
        frappe.call({
            "method": "login",
            args: {
                usr: "demo@dokos.io",
                pwd: "Demo1234567!!!",
                lead_email: $("#lead-email").val(),
            },
            callback: function(r) {
                $(me).prop("disabled", false);
                if(r.exc) {
                    alert("Error, please contact help@dokos.io");
                } else {
                    console.log("Logged In");
                    window.location.href = "desk";
                }
            }
        })
        return false;
    })
    .prop("disabled", false);
})

</script>
{% endblock %}

{% block style %}
<style>
	footer, .navbar {
		display: none;
	}
	.page-content {
		right: 0%;
		width: 100%;
	}
    {% include "templates/styles/card_style.css" %}
    header, footer {
        display: none;
    }
    html, body {
        background-color: #f5f7fa;
    }
</style>
{% endblock %}

{% block title %}
{{ _("dokos Demo") }}
{% endblock %}

{% block page_content %}
<div class='page-card'>

	<div class='page-card-head'>
		<span class='indicator blue'>
			{{ _("dokos Demo") }}</span>
	</div>
	<p>{{ _("Some functionality is disabled for the demo and the data will be cleared regularly.") }}</p>
	<div><button type="submit" id="login_btn" class="btn btn-primary btn-sm">{{ _("Launch Demo") }}</button></div>
</div>


<p class='text-muted text-center small' style='margin-top: -20px;'><a href="https://dokos.io/pricing">{{ _("Start a free 30-day trial") }}</a>
</p>
<style>
html, body {
	background-color: #f5f7fa;
}
</style>
{% endblock %}
